<script type="text/javascript" src="https://www.google.com/jsapi"></script>  

<div class="text-center" id="chart_container"></div>  
 <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="~/js/GoogleCharts.js"></script>
