@{
Layout = "~/Views/Admin/AdminPage.cshtml";
}
 @model ciplatform.entities.ViewModels.BannerPageForAdminViewModel
     <head>
    <link rel="stylesheet" href="~/css/AdminUserPage.css">
      <title>Add/Edit Banner Page</title>
</head>
<form asp-action="AddEditBanner" asp-controller="Admin" id="bannerForm" class="border me-1 ms-1" enctype="multipart/form-data" method="post">
    
    <div class="border d-flex" style="background-color:#f8f9fc; height : 70px; align-items: center;">
        <h3 class="ms-2">Add/Edit Banner</h3>
    </div>
   
    <div class="row d-flex mt-2 ms-2 me-2">
        <div class="col-md-6 col-lg-6 col-sm-12 mt-2">
            <label>Enter Title</label>
            <input type="text" class="form-control" asp-for="Title" />
            @Html.ValidationMessageFor(model => model.Title,null, new{
            @class="text-danger",@style="text-size:1rem !important;"
            })
        </div>

    </div>

    <div class="row d-flex ms-2 me-2">
       
        <div class="col-md-6 col-lg-6 col-sm-12 mt-2"> 
          <input type="text" style="display:none" asp-for="BannerId"/>

           <label for="number" >Enter Sort Order</label>
            <input type="number" class="form-control" asp-for="SortOrder" />
             @Html.ValidationMessageFor(model => model.SortOrder,null, new{
            @class="text-danger",@style="text-size:1rem !important;"
            })
        </div>
    </div>
  
    <div class="mt-2 ms-3 me-2">
        <label>Banner Text</label>
        <textarea class="form-control" rows="5" asp-for="Text"></textarea>
         @Html.ValidationMessageFor(model => model.Text,null, new{
            @class="text-danger",@style="text-size:1rem !important;"
            })
    </div>
            
    <div class="mt-2 ms-3 me-2">
        <label >Banner Image</label>
        </div>
      <div class="mt-2 ms-3 me-2" id="showImage">
        
        @if(@Model != null )
        {
            <img id="bannerpic" src="@Model.Image" />

        }
        else
        {
            <img  id="bannerpic" src=""/>
        }
    </div> 
    <div class="mt-2 ms-3 me-2">
       <input type="file" name= "IFormImg"  accept="image/*"  oninput="bannerpic.src=window.URL.createObjectURL(this.files[0])"  />

    </div>
        <span id="bannerimgValidate" class="mt-1 ms-3 me-2 text-danger"></span>

    <div class="mt-3 ms-3 me-2">
        <label>Status</label>
        <select id="Status" class="form-control" asp-for="Status">
            <option value="True">Active</option>
            <option value="False">In-Active</option>
        </select>
    </div>

                    <div class="d-flex justify-content-end mt-2 mb-2">
        
        <a asp-action="BannerPage" asp-controller="Admin" class="btn border border-dark btn-outline-dark" style="border-radius:30px;width: 119px;">
                Cancel
            
        </a>
        <button type="submit" class="btn ms-2 btn-outline-warning" style="border-radius:30px;width: 119px;">
            Save
        </button>
    </div>
</form>




<script src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="~/js/BannerPageForAdmin.js"></script>
