@{
Layout = "~/Views/Admin/AdminPage.cshtml";
}
<head>
      <title>Add/Edit CMS Page</title>
</head>
 @model ciplatform.entities.ViewModels.CMSPageForAdminViewModel
  @if (TempData["CMSNotEdited"] != null)
            {
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
            <script type="text/javascript">
            toastr.error('@TempData["CMSNotEdited"]');
            </script>
            } 
<form asp-action="AddEditCMS" asp-controller="Admin" class="border me-1 ms-1"  enctype="multipart/form-data" method="post">
 <div class="border d-flex" style="background-color:#f8f9fc; height : 70px; align-items: center;">
        <h3 class="ms-2">Add/Edit CMS</h3>
    </div>
       <input type="text" class="form-control" hidden asp-for="CmsPageId" />
    <div class="row d-flex mt-2 ms-2 me-2">
        <div class="col-md-6 col-lg-6 col-sm-12 mt-2">
            <label>CMS Name</label>
            <input type="text" class="form-control" asp-for="Title" />
            @Html.ValidationMessageFor(model => model.Title,null, new{
            @class="text-danger",@style="text-size:1rem !important;"
            })
        </div>

        
    </div>
    <div class="mt-2 me-2 ms-3">
        <label>Description</label>
        <textarea class="form-control" rows="5" asp-for="Description"></textarea>
    </div>
  @Html.ValidationMessageFor(model => model.Description,null, new{
            @class="text-danger",@style="text-size:1rem !important;"
            })
   <div class="col-md-4 col-lg-4 col-sm-10 mt-2 ms-3 me-2">
            <label>Slug</label>
            <input type="text" class="form-control" asp-for="Slug" />
            @Html.ValidationMessageFor(model => model.Slug,null, new{
            @class="text-danger",@style="text-size:1rem !important;"
            })
        </div>
   <div class="col-md-4 col-lg-4 col-sm-10 mt-2 ms-3 me-2">

        <label>Status</label>
        <select id="Status" class="form-control " asp-for="Status">
            <option value="true">Active</option>
            <option value="false">In-Active</option>
        </select>

    </div>
                    <div class="d-flex justify-content-end mt-2 mb-2">
        
        <a asp-action="CMSPage" asp-controller="Admin" class="btn border border-dark btn-outline-dark" style="border-radius:30px;width: 119px;">
                Cancel
            
        </a>
        <button type="submit" class="btn ms-2 btn-outline-warning" style="border-radius:30px;width: 119px;">
            Save
        </button>
    </div>
    
</form>




<script src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="~/js/CMSPageForAdmin.js"></script>

