<html>
<head>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
</head>
<body>
    <table id="table_id" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Place</th>
                <th>Contact No.</th>
                <th>DOJ</th>
                <th>Email</th>
            </tr>
        </thead>
    </table>
    <script type="text/javascript"
            charset="utf8"
            src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript"
            charset="utf8"
            src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
        $("#table_id").DataTable({
        ajax: "../css/ajaxList.txt"
        });
        });
    </script>
</body>
</html>