.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}

.col-md-4 {
    padding-left: 0px !important;
}

.headerbar {
    position: fixed;
    width: 100%;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

@media screen and (min-width:0px) and (max-width:411px) {


    .optimylogo {
        display: none;
    }
}

.btn-outline-warning {
    --bs-btn-hover-color: #000 !important;
    --bs-btn-hover-bg: #ffc107 !important;
    --bs-btn-hover-border-color: #ffc107 !important;
}

.imgTitle {
    bottom: 14px;
    background-color: white;
}

.ptext p {
    color: #757575;
}

.imgsize img{
   object-fit: fill;
}
@media (max-width: 575.98px) {
    .list-view .imgsize img {
        width: 50%
    }
    .list-view .imgsize .c1-location img {
        width: 17%
    }
    .list-view .imgsize .c1-heart img, .list-view .imgsize .c1-person img {
        width: 75%
    }
}

@media screen and (min-width:768px) and (max-width:910px) {


    .cardstar {
        flex-direction: column;
        align-items: center;
    }

    .ptext p {
        font-size: 10px
    }
    .short-desc {
        height: 10vh !important;
    }
}

@media screen and (min-width:992px) and (max-width:1090px) {
    .cardstar .card-text {
        font-size: 13px;
        padding-top: 2%;
    }

    .c1-location {
        bottom: 0.25rem !important;
        height: 2rem;
    }

    .c1-heart {
        bottom: 2.5rem !important;
    }

    .c1-person {
        bottom: 0.25rem !important;
    }
}


@media screen and (min-width:781px) and (max-width:1478px) {
    #missionDeadline {
        top: -10px !important;
    }
}



.c1-location {
    right: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1.125rem;
    top: 1rem;
    color: white;
}

.c1-heart {
    border-radius: 2rem;
    background-color: rgb(0, 0, 0, 0.4);
    bottom: 3.5rem;
    right: 1rem;
}

.c1-person {
    border-radius: 2rem;
    background-color: rgb(0, 0, 0, 0.4);
    bottom: 1rem;
    right: 1rem;
}

.card-img-top {
    height: 100%;
    width: 100% !important;
    object-fit: cover;
}


.card {
    margin-bottom: 1rem;
}

.list-view .row > [class*=col-] {
    max-width: 100%;
    flex: 0 0 100%;
}

.list-view .card {
    flex-direction: row;
}

@media (max-width: 575.98px) {
    .list-view .card {
        flex-direction: column;
    }
}

.list-view .card > .card-img-top {
    width: auto;
}

.list-view .card .card-body {
    display: inline-block;
}

@media (max-width: 1022px) {

    .lgrid .btn-grid,
    .lgrid .btn-list {
        display: none;
    }
}

.posrelative {
    position: relative;
}

#missionTheme {
    border: 1px solid white;
    border-radius: 20px;
    bottom: -15px;
    background-color: white;
    font-size: 14px;
    left: 50%;
    transform: translateX(-50%);
}

#missionDeadline {
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
    top: -10px;
    left: 50%;
    font-size: 13px;
    transform: translateX(-50%);
    color: #7a7a7a;
}

    .imgsize img {
        object-fit: fill;
    }

@media (max-width: 575.98px) {
    .list-view .imgsize img {
        width: 50%
    }
}

.card-footer {
    padding-bottom: 0px !important;
    padding-top: 1.5rem !important;
}

@media (max-width: 1560px) {
    .list-view #missionDeadline {
        top: -10px !important;
    }
}

@media (max-width: 984px) {
    .csrtitle {
        margin-top: 5%;
    }
}

.badge1 {
    width: 87px;
    display: inline-block;
    padding: 0.35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: white !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #ffc107 !important;
}
.badgeclassapplied .badge1 {
    width: 100px;
    display: inline-block;
    padding: 0.35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: white !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #ffc107 !important;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ffc107;
}
.arrow-rightapplied {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #146c43;
}
.badgeclass,.badgeclassapplied {
    left: -4px;
}
.form-check label {
    margin-top: 2px;
}

.csrtitle span {
    font-size: 38px;
    font-weight: lighter;
}

.csrtitle p {
    font-size: 17px;
    color: #414141;
    font-weight: lighter;
}

.progress {
    border-radius: 10px !important;
    height: 10px !important;
    width: 100%;
}

.favbtn a:hover {
    background-color: black;
    color: white;
}

#starposition {
    background-color: white;
    top: -42px;
    border-radius: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.apply a:hover {
    background-color: #ffc107;
    color: #000;
}

.row2right span {
    font-size: 22px;
    color: #414141;
}

.Scroll {
    height: 400px;
    overflow-y: scroll;
}

.imgcircle {
    border-radius: 50%;
}

.thumbnailimg {
    margin-left: 0px !important;
    margin-top: 5% !important;
    margin-right: 0px !important;
}

.filter-list {
    background-color: white;
    border: 1px solid #808080;
    border-radius: 20px;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    margin-top: 2%;
}

.filter-close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
    color: #888;
}

/*.footer .pagination .active {
    background-color: #F88634;
    color: white;
}

.footer .pagination a:hover {
    background-color: #F88634;
    color: white;
}*/

.footer .pagination .page-item {
    margin-left: 0.5%;
}

#gird-list .active {
    border-radius: 50%;
    background-color: #D9D9D9;
}


/* Story Listing img*/
.storylistingimgbox {
    width: 100% !important;
    height: 300px;
}

    .storylistingimgbox img {
        width: 100% ;
        height: 100%;
        object-fit: cover;
    }
    /* Content img hover */
    .storylistingimgbox:hover .content {
        left: 0%;
    }

    .storylistingimgbox .labelText {
        position: absolute;
        top: 25%;
        color: white;
    }


    .storylistingimgbox .storyDetailBtn {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
    }

@media (max-width: 576px) {
    .storylistingimgbox .storyDetailBtn {
        top: 65%;
    }
}

@media (min-width: 1352px) {
    .storylistingimgbox .labelText {
        margin-left: 9%;
    }
}

.storylistingimgbox .content button {
    border: 1px solid white;
    border-radius: 50px;
}

.storylistingimgbox .content {
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* volunteer img
   */

.volunteerImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


.imgBox {
    overflow: hidden;
}

.viewDetailBtn {
    position: relative;
    border-radius: 50px;
    top: 40%;
}


.imgBox .content1 {
    top: -100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
}

.imgBox:hover .content1 {
    top: 0;
}

.btn-rounded {
    font-family: Raleway-SemiBold;
    font-size: 13px;
    border: 2px solid #ffc107 ;
    border-radius: 40px;
   
}


/*Scroll*/

.scroll{
    height :200px;
    overflow:auto;
}

/*recent Volunteers Profile
*/
.profile-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/*
Card img 
*/

.list-view #cardImg {
    height: 375px !important;
    width :450px!important;
}

.list-view .card-title {
    height: 4vh !important;
}
.list-view .short-desc {
    height: 9vh !important;
}
.list-view .card-footer{
    height:25%;
}


/*carousel img Slider below*/

@media (max-width: 726px) {
    .thumbnailimg img {
        object-fit: fill !important;
    }

}
/*.thumbnailimg img {
    object-fit: contain !important;
}
*/