.split {
    height: 100%;
    width: 50%;
    top: 0;
    padding-top: 20px;
}

.container {
    position: relative;
}

.column {
    float: left;
    width: 16.66%;
}

.apply {
    border: 2px solid orange;
    border-radius: 20px;
    color: orange;
    background-color: white;

}
    .apply:hover {
        color: black;
        background-color: #F88634;
    }

.main {
    font-family: Arial;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.action {
    display: block;
    margin: 100px auto;
    width: 100%;
    text-align: center;
}

    .action a {
        display: inline-block;
        padding: 5px 10px;
        background: #f30;
        color: #fff;
        text-decoration: none;
    }

        .action a:hover {
            background: #000;
        }

.slick-dots {
    display: none;
}

.profile-icon .image {
    height: 86px;
    width: 86.5px !important;
}
}

.para {
    padding: 45px;
}

.copyright {
    padding: 28px 0;
}

    .copyright span,
    .copyright a {
        color: #414141;
    }

        .copyright a:hover {
            color: #007bff;
        }

.copyright-menu ul {
    text-align: left;
    margin: 0;
}

    .copyright-menu ul li a {
        text-decoration: none;
    }

.rights {
    text-align: right;
}

.copyright-menu li {
    display: inline-block;
    padding-left: 20px;
}

.Border-black {
    border: 2px solid black;
    width: 90px;
    top: 7px;
}

.slick-dots {
    display: none !important;
}

.slider button {
    display: none !important;
}

.imgheight {
    height: 480px;
}

@media only screen and(max-width:768px) {
    .imgheight {
        display: none;
    }
}

