.add {
    border: 2px solid orange !important;
    border-radius: 20px !important;
    color: orange !important;
    background-color: white !important;
}

.font {
    font-size: 14px !important;
}


